/**
*   header.scss
*
*   Contains styles for header component and inner elements of it. With adaptive for devices.
*
**/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: calc(2.5 * #{$gap}) calc(4 * #{$gap}); // Calculates paddings like other page with grids
  background-color: $block-background-color;
}

.header_logo {
  font-family: $monospace-font;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.logo_animation {
  background: linear-gradient(
    90deg,
    $heading-color 0%,
    $block-background-color 50%,
    $hover-color 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: wave 5s ease-in-out infinite alternate;
}

@keyframes wave {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes wave {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.menu {
  display: none; //hide desktop menu by default
}

/**
  Style for all menu links
**/
.menu_link {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  transition: color 0.3s linear;

  &:hover {
    color: $hover-color;
    text-decoration: underline;
  }
}

.mobile_menu_button-svg {
  width: 1.2rem;
  height: 1.2rem;
}

/** 
  Style for mobile menu.
**/
.mobile_menu_content {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 0.5rem 0;
  background-color: $block-background-color;
  text-align: center;
  transition: left 0.4s linear;

  &.showed {
    //With this class it rolled to screen
    left: 0;
  }

  ul {
    margin-top: calc((2.5 * #{$gap}));

    .mobile_menu_close-svg {
      width: 1.1rem;
      height: 1.1rem;
    }

    li {
      padding: 0.5rem;

      &:first-child {
        padding: 0;
      }

      a {
        width: 100%;
        padding: 0.5rem 2rem;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  header {
    padding: calc(2.5 * #{$gap}) calc(8 * #{$gap});
  }

  .header_logo {
    font-size: 1.3rem;
  }

  .mobile_menu_button-svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .mobile_menu_content {
    width: 25%;

    ul {
      .mobile_menu_close-svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  header {
    padding: calc(2.5 * #{$gap}) calc(20 * #{$gap});
  }

  .mobile_menu-close_button {
    display: none;
  }

  .menu {
    display: block; // Shows menu at desktops devices

    ul {
      display: flex;
    }

    .menu_link {
      padding-left: calc(3 * #{$gap});
    }
  }

  .mobile_menu {
    display: none; // Hides mobile block at desktop devices
  }
}
