/**
* index.scss
* 
* Contains imports of all style-files and styles for main selectors.
**/
/**
* vars.scss
* 
* Contains variables of project.
**/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Roboto+Mono:wght@700&display=swap");
/**
* grids.scss
*   
*   Contains styles for grid system in project. 
*     Base grid: 
*     |_|_|_|
*     |_|_|_|
*
*     Content grid: Lay in second column of each row at base grid. Each section contain it owns grid area.
*     In this file only write grid area for mobile devices.
*     |_|_|_|_|_|_|_|_|_|_|_|_|
*
**/
/**
    Base grid template for page. Three colums, first and third like content margins, second for content
**/
.base_grid {
  display: grid;
  grid-template-columns: calc(4 * 10px) 1fr calc(4 * 10px);
  grid-template-rows: repeat(2, fit-content(1fr));
  grid-column-gap: 0px;
  grid-row-gap: calc(2 * 10px);
  margin-top: calc(5.5 * 10px); }

/**
    Content grid container template. 12 colums with gap.
**/
.content_grid_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: calc(2 * 10px);
  grid-row-gap: 0px; }

.title_container {
  grid-area: 1 / 2 / 2 / 3; }

.content_container {
  grid-area: 2 / 2 / 3 / 3; }

.content_title {
  grid-area: 1 / 1 / 2 / 13;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: #D1495B;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .content_title .block_number {
    font-size: 1.4rem;
    padding-bottom: calc(0.5 * 10px);
    border-bottom: 1px #D1495B solid; }
  .content_title .block_description {
    font-size: 1.2rem;
    padding-top: calc(0.5 * 10px); }

.content {
  grid-area: 1 / 1 / 2 / 13;
  padding: calc(2 * 10px) 0;
  background-color: #00798C; }

.base_grid_left_background {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #00798C; }

.base_grid_right_background {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #00798C; }

@media screen and (min-width: 743px) {
  .base_grid {
    grid-template-columns: calc(8 * 10px) 1fr calc(8 * 10px); } }
@media screen and (min-width: 1439px) {
  .base_grid {
    grid-template-columns: calc(20 * 10px) 1fr calc(20 * 10px); } }
/**
*   header.scss
*
*   Contains styles for header component and inner elements of it. With adaptive for devices.
*
**/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(2.5 * 10px) calc(4 * 10px);
  background-color: #00798C; }

.header_logo {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase; }

.logo_animation {
  background: linear-gradient(90deg, #003d5b 0%, #30638e 50%, #edae49 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: wave 5s ease-in-out infinite alternate; }

@keyframes wave {
  from {
    background-position: 0% 50%; }
  to {
    background-position: 100% 50%; } }
@-webkit-keyframes wave {
  from {
    background-position: 0% 50%; }
  to {
    background-position: 100% 50%; } }
.menu {
  display: none; }

/**
  Style for all menu links
**/
.menu_link {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  transition: color 0.3s linear; }
  .menu_link:hover {
    color: #EDAE49;
    text-decoration: underline; }

/** 
  Style for mobile menu.
**/
.mobile_menu_content {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  padding: 0.5rem 0;
  background-color: #00798C;
  text-align: center;
  transition: right 0.5s linear; }
  .mobile_menu_content.showed {
    right: 0; }
  .mobile_menu_content ul {
    margin-top: calc((2.5 * 10px)); }
    .mobile_menu_content ul .mobile_menu_close-svg {
      width: 1.1rem;
      height: 1.1rem; }
    .mobile_menu_content ul li {
      padding: 0.5rem; }
      .mobile_menu_content ul li:first-child {
        padding: 0; }
      .mobile_menu_content ul li a {
        width: 100%;
        padding: 0.5rem 2rem; }

@media screen and (min-width: 743px) {
  header {
    padding: calc(2.5 * 10px) calc(8 * 10px); }

  .header_logo {
    font-size: 1.3rem; }

  .mobile_menu_content ul .mobile_menu_close-svg {
    width: 1.5rem;
    height: 1.5rem; } }
@media screen and (min-width: 1439px) {
  header {
    padding: calc(2.5 * 10px) calc(20 * 10px); }

  .menu {
    display: block; }
    .menu ul {
      display: flex; }
    .menu .menu_link {
      padding-left: calc(3 * 10px); }

  .mobile_menu {
    display: none; } }
/**
*     main_section.scss
*
*   Contains styles for main section of project. With adaptive for devices.
*
*
**/
.main_section {
  text-align: center;
  /**
    For main section disable grid. Working with blocks
  **/
  /*
    Styling CV Download button
  */ }
  .main_section .content_grid_container {
    display: block; }
  .main_section .main_header_container {
    margin-bottom: calc(2 * 10px); }
  .main_section .cv_image {
    width: 170px;
    height: 170px; }
  .main_section .additional_header_container {
    margin: calc(2 * 10px) 0; }
  .main_section .download-btn {
    display: inline-block;
    padding: calc(1.2 * 16px) calc(3 * 16px);
    border-radius: calc((2 * (1.2 * 16px) + 16px) / 2);
    background: #EDAE49;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    font-weight: 700;
    transition: box-shadow 0.5s linear; }
    .main_section .download-btn:hover {
      opacity: 1;
      box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.35); }

@media screen and (min-width: 743px) {
  .main_section .content_grid_container {
    /*
    For tablet and desktop devices using flex to arrange content in other order
    */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .main_section .main_header_container {
    width: 100%;
    order: 1; }
  .main_section .cv_image_container {
    order: 2; }
  .main_section .cv_image {
    width: 200px;
    height: 200px; }
  .main_section .additional_header_container {
    width: 100%;
    margin-bottom: 0;
    order: 4; }
  .main_section .download-btn-container {
    order: 3; } }
@media screen and (min-width: 1439px) {
  .main_section .cv_image {
    width: 325px;
    height: 325px; }
  .main_section .additional_header_container {
    margin-bottom: 0; } }
/**
* about.scss
*   
*   Contains style for 'About' section of project. With adaptive for devices.
*
**/
.about_section .paragraph_block:not(:first-child) {
  margin-top: calc(2 * 10px); }

@media screen and (min-width: 743px) {
  .about_section .content_container_background {
    grid-area: 2 / 1 / 3 / 3; }
  .about_section .content_title {
    grid-area: 1 / 9 / 2 / 12; }
  .about_section .content {
    grid-area: 1 / 1 / 2 / 9; }
  .about_section .base_grid_right_background {
    display: none; } }
@media screen and (min-width: 1439px) {
  .about_section .paragraph_block {
    padding-right: 10px; }
  .about_section .content_title {
    grid-area: 1 / 10 / 2 / 12; }
  .about_section .content {
    grid-area: 1 / 1 / 2 / 9; } }
/**
* experience.scss
* 
* Contains styles of 'experience' section of project. With adaptive for devices.
**/
.experience_section .experience_block:not(:first-child) {
  margin-top: calc(2.5 * 10px); }
.experience_section .experience_header {
  padding-bottom: 10px;
  border-bottom: 1px solid #EDAE49; }
.experience_section .experience_header__paragraph {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  text-transform: uppercase; }
  .experience_section .experience_header__paragraph:not(:first-child) {
    margin-top: 10px; }
.experience_section .experience_content {
  margin-top: 10px; }
.experience_section .experience_content__item {
  font-family: "Crimson Text", serif;
  font-size: 16px; }
  .experience_section .experience_content__item:not(:first-child) {
    margin-top: calc(10px / 2); }

@media screen and (min-width: 743px) {
  .experience_section .content_title {
    grid-area: 1 / 2 / 2 / 5; }
  .experience_section .content {
    grid-area: 1 / 2 / 2 / 12; }
  .experience_section .base_grid_left_background {
    display: none; }
  .experience_section .base_grid_right_background {
    display: none; }
  .experience_section .experience_block {
    padding: 0 calc(2.5 * 10px); }
  .experience_section .experience_header {
    width: fit-content;
    margin: 0 auto; }
  .experience_section .experience_content {
    width: fit-content;
    margin: 10px auto 0; } }
@media screen and (min-width: 1439px) {
  .experience_section .content_title {
    grid-area: 1 / 2 / 2 / 4; }
  .experience_section .experience_block {
    display: flex; }
  .experience_section .experience_header {
    width: 250px;
    margin: 0;
    padding-bottom: 0;
    padding-right: 10px;
    border-right: 1px solid #EDAE49;
    border-bottom: 0; }
  .experience_section .experience_content {
    margin: 0;
    padding-left: 10px; } }
/**
* education.scss
* 
* Contains styles of 'Education' section of project.
**/
.education_section .education_block:not(:first-child) {
  margin-top: calc(2 * 10px); }
.education_section .education_block__content-header {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #EDAE49; }
.education_section .education_block__header-paragraph:last-child {
  margin-top: 10px; }
.education_section .education_block__content-dates {
  margin-top: 10px; }
.education_section .education_block___dates-paragraph:last-child {
  text-align: right; }
.education_section .education_block__link-container {
  margin-top: 10px;
  text-align: center; }
.education_section .education_block__link {
  color: #EDAE49;
  font-size: calc(1.2 * 16px);
  text-decoration-line: underline; }
.education_section .education_block__link:first-child {
  margin-right: calc(2 * 10px); }

@media screen and (min-width: 743px) {
  .education_section .content_title {
    grid-area: 1 / 6 / 2 / 9; }
  .education_section .content {
    grid-area: 1 / 3 / 2 / 13; }
  .education_section .base_grid_left_background {
    display: none; }
  .education_section .education_block {
    width: fit-content;
    padding: 0 calc(2 * 10px); }
  .education_section .education_block__content-header {
    display: flex;
    padding-bottom: 0;
    border: 0; }
  .education_section .education_block__header-paragraph {
    display: inline-block; }
  .education_section .education_block__header-paragraph:last-child {
    margin-top: 0;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #EDAE49; }
  .education_section .education_block___dates-paragraph {
    display: inline-block; }
  .education_section .education_block___dates-paragraph:last-child {
    padding-left: 10px;
    text-align: start; } }
@media screen and (min-width: 1439px) {
  .education_section .content_title {
    grid-area: 1 / 6 / 2 / 8; }
  .education_section .content {
    grid-area: 1 / 2 / 2 / 13; }
  .education_section .education_block {
    display: flex;
    align-items: center;
    padding: 0 calc(5 * 10px); }
  .education_section .education_block__link-container {
    margin-top: 0;
    margin-left: calc(5 * 10px); } }
/**
* skills.scss
* 
* Contains styles for 'Skills' section of project.
**/
.skills_section .skills_group {
  text-align: center; }
  .skills_section .skills_group:not(:first-child) {
    margin-top: calc(2 * 10px); }
.skills_section .skills_group__title {
  color: #EDAE49;
  letter-spacing: 2px; }
.skills_section .skills_group__list-container__title {
  text-transform: uppercase; }
.skills_section .skills_group__list-container__title {
  margin: 10px 0; }
.skills_section .skills_group__list-container__item {
  margin-top: calc(10px / 2); }

@media screen and (min-width: 743px) {
  .skills_section .content_title {
    grid-area: 1 / 10 / 2 / 13; }
  .skills_section .content {
    grid-area: 1 / 2 / 2 / 12; }
  .skills_section .base_grid_left_background {
    display: none; }
  .skills_section .base_grid_right_background {
    display: none; } }
@media screen and (min-width: 1439px) {
  .skills_section .content_title {
    grid-area: 1 / 10 / 2 / 12; }
  .skills_section .skills_group:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .skills_section .skills_group__title {
    width: 100%;
    font-size: calc(16px * 1.3); } }
/**
* projects.scss
* 
* Contains styles of 'Project' section of project.
**/
.projects_section .project-box:not(:first-child) {
  margin-top: calc(2 * 10px); }
.projects_section .project-box:not(:last-child) {
  padding-bottom: calc(2 * 10px);
  border-bottom: 2px solid #EDAE49; }
.projects_section .project-box__title {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }
.projects_section .project-box__description {
  margin-top: 10px; }
.projects_section .project-box__technologies {
  margin-top: 10px;
  font-weight: 700;
  text-align: center; }
  .projects_section .project-box__technologies .desc {
    color: #EDAE49; }
.projects_section .project-box__links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px; }
.projects_section .project-box__link {
  display: inline-block;
  color: #EDAE49;
  text-decoration-line: underline; }

@media screen and (min-width: 743px) {
  .projects_section .content_title {
    grid-area: 1 / 5 / 2 / 8; }
  .projects_section .content {
    grid-area: 1 / 1 / 2 / 11; }
  .projects_section .base_grid_right_background {
    display: none; }
  .projects_section .project-box {
    margin-right: calc(8 * 10px); } }
@media screen and (min-width: 1439px) {
  .projects_section .content_title {
    grid-area: 1 / 5 / 2 / 7; }
  .projects_section .content {
    grid-area: 1 / 1 / 2 / 9; }
  .projects_section .project-box {
    margin-right: calc(20 * 10px); } }
/**
* contacts.scss
* 
* Contains styles of 'Contact' section of project.
**/
.contacts_section .contact-box {
  width: fit-content;
  margin: 0 auto; }
.contacts_section .contact-box__container:not(:first-child) {
  margin-top: 10px; }
.contacts_section .contact-box__label {
  display: inline-block;
  color: #EDAE49;
  font-weight: 700;
  text-transform: uppercase; }
.contacts_section .contact-box__content {
  display: inline-block;
  margin-left: 10px; }

@media screen and (min-width: 743px) {
  .contacts_section .content_title {
    grid-area: 1 / 1 / 2 / 4; }
  .contacts_section .content {
    grid-area: 1 / 2 / 2 / 12; }
  .contacts_section .base_grid_left_background {
    display: none; }
  .contacts_section .base_grid_right_background {
    display: none; } }
@media screen and (min-width: 1439px) {
  .contacts_section .content_title {
    grid-area: 1 / 2 / 2 / 4; }
  .contacts_section .content {
    grid-area: 1 / 4 / 2 / 10; } }
/**
* footer.scss
* 
* Contains styles for footer sections of project.
**/
footer {
  margin-top: calc(5.5 * 10px);
  padding: calc(2.5 * 10px) calc(4 * 10px);
  text-align: center;
  background-color: #00798C; }
  footer .footer_logo {
    font-family: "Roboto Mono", monospace;
    font-weight: 700; }

@media screen and (min-width: 743px) {
  footer {
    padding: calc(2.5 * 10px) calc(8 * 10px);
    text-align: start; } }
@media screen and (min-width: 1439px) {
  footer {
    padding: calc(2.5 * 10px) calc(20 * 10px); } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Crimson Text", serif;
  font-size: 16px;
  color: white; }

ul {
  list-style: none; }

button {
  border: 0;
  background: none;
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s linear; }
  a:hover {
    opacity: 0.8; }

h1,
h2 {
  margin: 0;
  padding: 0;
  color: #003D5B;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }

h1 {
  font-size: 1.375rem; }

h2 {
  font-size: 1.25rem; }

@media screen and (min-width: 743px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 7px; }

  h2 {
    font-size: 1.75rem;
    letter-spacing: 5px; } }
@media screen and (min-width: 1439px) {
  h1 {
    font-size: 2.75rem;
    letter-spacing: 7px; }

  h2 {
    font-size: 2.5rem;
    letter-spacing: 7px; } }

/*# sourceMappingURL=index.css.map */
