/* line 3, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
html {
  font-size: 18px;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

/* line 8, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
body {
  width: 100%;
  background: white;
  color: black;
}

/* line 14, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
h2,
h3 {
  margin: 0;
}

/* line 19, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* line 25, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
p {
  margin: 0;
}

/* line 29, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
header {
  width: 50%;
  position: fixed;
  top: 0;
  left: 25%;
  margin: 0 auto;
  color: black;
  text-align: center;
  font-weight: 700;
}

/* line 39, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
header ul {
  display: inline-block;
  padding: 1rem;
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: black;
  border-radius: 0 0 30px 30px;
}

/* line 48, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
header ul li {
  display: inline-block;
}

/* line 51, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
header ul li a {
  padding: .5rem;
  color: white;
  border-radius: 30px;
  transition: color .5s linear, background-color .5s linear;
}

/* line 57, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
header ul li a:hover {
  background-color: white;
  color: black;
}

/* line 66, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main {
  color: black;
}

/* line 69, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main .main_block {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
}

/* line 76, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main .main_block img {
  max-height: 400px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* line 82, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main .main_block .main_block-text {
  padding: 3rem;
  text-align: center;
  color: black;
}

/* line 87, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main .main_block .main_block-text div {
  font-size: 2.5rem;
}

/* line 91, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main .main_block .main_block-text .position {
  font-size: 2rem;
}

/* line 95, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main .main_block .main_block-text .download-btn {
  margin-top: 1rem;
  padding: 1rem;
  color: black;
  font-weight: 700;
  background-color: white;
  border: 2px black solid;
  border-radius: 30px;
  box-shadow: 0px -6px 20px 0px rgba(0, 0, 0, 0.75);
  transition: color .5s linear, border-color .5s linear, box-shadow .5s linear;
  cursor: pointer;
}

/* line 108, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main .main_block .main_block-text .download-btn:hover {
  color: blue;
  border-color: blue;
  box-shadow: 0px -6px 10px 0px rgba(0, 0, 0, 0.75);
}

/* line 116, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #about {
  display: flex;
  padding: 3rem;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
}

/* line 122, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #about .title {
  width: 30%;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
  border-right: 3px black solid;
}

/* line 130, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #about .text {
  width: 70%;
  padding: 1.5rem;
  box-sizing: border-box;
}

/* line 135, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #about .text p {
  margin: 0.2rem 0 0.2rem 0;
}

/* line 141, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #experience {
  padding: 3rem;
  border-bottom: 3px black solid;
}

/* line 145, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #experience .title {
  text-align: center;
}

/* line 149, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #experience .timeline-box {
  width: 70%;
  margin: 1rem auto;
  display: flex;
}

/* line 154, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #experience .timeline-box .timeline-box_date {
  width: 40%;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
  align-self: center;
}

/* line 162, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #experience .timeline-box .timeline-box_description {
  width: 70%;
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 30px;
  border: 3px black solid;
}

/* line 169, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #experience .timeline-box .timeline-box_description .job_title {
  margin: .5rem 0 .5rem 0;
}

/* line 173, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #experience .timeline-box .timeline-box_description ul {
  margin: 0;
  padding: 0;
}

/* line 181, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #education {
  padding: 3rem;
  border-bottom: 3px black solid;
}

/* line 185, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #education .title {
  text-align: center;
}

/* line 189, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #education .education_box {
  width: 75%;
  margin: 1rem auto;
  padding: 1rem;
  border: 3px black solid;
  border-radius: 30px;
}

/* line 196, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #education .education_box .education_degree {
  margin: .5rem 0 .5rem 0;
  font-weight: 600;
}

/* line 203, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects {
  padding: 3rem;
  border-bottom: 3px black solid;
}

/* line 207, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .projects_container {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

/* line 213, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .title {
  width: 30%;
  align-self: center;
}

/* line 218, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .project_list {
  padding: 1rem;
}

/* line 222, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .project_box {
  margin: 0.5rem;
  padding: 1rem;
  border: 3px black solid;
  border-radius: 30px;
}

/* line 228, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .project_box .project_box-title {
  text-align: center;
}

/* line 233, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .project_box .project_box-description p {
  margin: .5rem 0 .5rem 0;
}

/* line 238, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .project_box .project_box-technology {
  text-align: center;
}

/* line 241, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .project_box .project_box-technology .technologies {
  padding: .5rem;
}

/* line 244, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .project_box .project_box-technology .technologies span {
  display: inline-block;
  padding: 0.5rem;
  border: 2px black solid;
  border-radius: 30px;
}

/* line 253, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .project_box .project_box-links {
  text-align: center;
}

/* line 256, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .project_box .project_box-links a {
  display: inline-block;
  margin-top: .5rem;
  padding: .5rem;
  border: 3px black solid;
  border-radius: 30px;
  font-weight: 600;
  transition: color .5s linear, border-color .5s linear;
}

/* line 266, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #projects .project_box .project_box-links a:hover {
  color: blue;
  border-color: blue;
}

/* line 274, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #skills {
  padding: 3rem;
  border-bottom: 3px black solid;
}

/* line 278, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #skills .title {
  text-align: center;
}

/* line 282, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #skills .skills-container {
  display: flex;
  width: 60%;
  margin: 0.5rem auto;
  justify-content: space-between;
}

/* line 288, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #skills .skills-container .skill-box {
  text-align: center;
  padding: .5rem;
}

/* line 292, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #skills .skills-container .skill-box div {
  margin: 0.5rem;
  padding: 1rem;
  border: 2px black solid;
  border-radius: 30px;
}

/* line 298, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #skills .skills-container .skill-box div .division {
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
}

/* line 304, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #skills .skills-container .skill-box div p {
  padding: 0.5rem;
  border-bottom: 1px black solid;
}

/* line 313, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #contacts {
  padding: 3rem;
  border-bottom: 3px black solid;
}

/* line 317, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #contacts .title {
  text-align: center;
}

/* line 321, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #contacts .contacts {
  width: 30%;
  margin: .5rem auto;
  padding: 1rem;
  border: 3px black solid;
  border-radius: 30px;
  text-align: center;
}

/* line 329, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #contacts .contacts p {
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  transition: color .5s linear;
}

/* line 335, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #contacts .contacts p:hover {
  color: blue;
}

/* line 339, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
main #contacts .contacts p span, main #contacts .contacts p a {
  font-weight: 400;
  font-style: italic;
}

/* line 348, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
.contacts-box {
  display: flex;
  flex-direction: column;
  padding: .6rem;
  position: fixed;
  top: 30%;
  right: 0;
  background-color: white;
  border: 3px black solid;
  border-radius: 25px 0px 0px 25px;
}

/* line 359, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
.contacts-box .email {
  display: block;
  background: url(../../img/mail.svg) no-repeat;
  width: 40px;
  height: 40px;
}

/* line 366, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
.contacts-box .git_hub {
  display: block;
  margin-top: .4rem;
  margin-bottom: .4rem;
  background: url(../../img/github.svg) no-repeat;
  width: 40px;
  height: 40px;
}

/* line 375, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
.contacts-box .linken_in {
  display: block;
  background: url(../../img/linkedin.svg) no-repeat;
  width: 40px;
  height: 40px;
}

/* line 383, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
#top {
  display: none;
  background: url(../../img/top.svg) no-repeat;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  transition: background .2s linear;
}

/* line 395, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
#top.show {
  display: block;
}

/* line 399, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
#top:hover {
  background: url(../../img/top-hover.svg) no-repeat;
}

/* line 404, ../../../../../Users/helgen/Desktop/DmytroDonchenko/styles/scss/index.scss */
footer {
  padding: .5rem;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */